<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ak542.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ak542.email %>
</p>

<%= link_to 'Edit', edit_ak542_path(@ak542) %> |
<%= link_to 'Back', ak542s_path %>
